@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);

  /* colors */
  --color-red: #D94660;
  --color-black: #272727;
  --color-white: #ffffff;
  --color-para: #C8C8C8;

  /* shadows */
  --shadow-main: 5px 5px 4px #C8C8C8;
}