@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);

  /* colors */
  --color-red: #D94660;
  --color-black: #272727;
  --color-white: #ffffff;
  --color-para: #C8C8C8;

  /* shadows */
  --shadow-main: 5px 5px 4px rgba(0, 0, 0, 0.1);
  --shadow-center: 0px 0px 4px rgba(0, 0, 0, 0.5);
  --shadow-sm: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.15'/%3E%3C/svg%3E");
}

@keyframes noise {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(5%, -10%);
  }

  30% {
    transform: translate(-10%, 5%);
  }
}

.animate-noise {
  animation: noise 0.3s infinite;
}